/* Minimal global styles */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}
